<mat-card>
    <h2 class="alinear">Listado de Productos</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Buscar Producto" appearance="fill">
                <mat-label>Buscar Productos</mat-label>
                <input matInput #input (keyup)="buscar(input.value)">
            </mat-form-field>
        </div>
    </mat-card-header>

    <mat-card-header>
        <div class="right">
            <ul>
                <li>
                    <button mat-raised-button color="primary" (click)="openProductoDialog()">Agregar Producto</button>
                </li>
            </ul>
        </div>
    </mat-card-header>

    <div mat-card-image></div>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-cell">
            <!--id column-->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>

            <!--nombre column-->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
            </ng-container>

            <!--marca column-->
            <ng-container matColumnDef="marca">
                <th mat-header-cell *matHeaderCellDef>Marca</th>
                <td mat-cell *matCellDef="let element"> {{element.marca}}</td>
            </ng-container>

            <!--categoria column-->
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef>Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.categoria}}</td>
            </ng-container>

            <!--precio column-->
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let element"> {{element.precio}}</td>
            </ng-container>

            <!--existencias column-->
            <ng-container matColumnDef="existencias">
                <th mat-header-cell *matHeaderCellDef>Existencias</th>
                <td mat-cell *matCellDef="let element"> {{element.existencias}}</td>
            </ng-container>

            <!--activo column-->
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef>Activo</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-checkbox
                    [checked]="element.activo"
                    (change)="Activar(element, $event.checked)">
                    </mat-checkbox>
                </td>
            </ng-container>


            <!--Acciones de la tabla-->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element; let i=index;">
                    <button mat-icon-button color="accent" (click)="edit(element.id, 
                    element.nombre,element.marca,element.categoria,element.precio,element.existencias,element.activo)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" (click)="delete(element.id)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>

</mat-card>